
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-5" style="padding:2rem">
        <h3>Mesaj Bırakın!</h3>
        <form>
            <div class="row">
                <div class="col">
                    <label for="inputName">İsim</label>
                    <input type="text" class="form-control" id="inputName" placeholder="Bedirhan" required>
                    <div class="invalid-feedback">
                        Lütfen isminizi giriniz
                    </div>
                </div>
                <div class="col">
                    <label for="inputSurname">Soyisim</label>
                    <input type="text" class="form-control" id="inputSurname" placeholder="Köksoy" required>
                    <div class="invalid-feedback">
                        Lütfen soyisminizi giriniz
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="inputEmail4">Email</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="bedirhan.koksoy@rumeli.edu.tr" required>
                <div class="invalid-feedback">
                    Lütfen geçerli bir mail adresi giriniz
                </div>
            </div>
            <div class="form-group">
                <label for="inputPhone">Telefon</label>
                <input type="tel" class="form-control" id="inputPhone" placeholder="5123456789" pattern="[0-9]{10}" required>
                <div class="invalid-feedback">
                    Lütfen 10 haneli telefon numaranızı giriniz
                </div>
            </div>
            <div class="form-group">
                <label for="inputTitle">Konu</label>
                <input type="text" class="form-control" id="inputTitle" placeholder="Konu ismi" required>
                <div class="invalid-feedback">
                    Lütfen konuyu giriniz
                </div>
            </div>
            <div class="form-group">
                <label for="validationTextarea">Mesaj</label>
                <textarea class="form-control" id="validationTextarea" placeholder="Mesaj açıklaması" required></textarea>
                <div class="invalid-feedback">
                    Lütfen mesajınızı bırakınız.
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Gönder</button>
        </form>
    </div>
    <div class="col-md-1 d-flex justify-content-center align-items-center">
        <div style="width: 1px; background-color: #ccc; height: 100%;"></div>
    </div>
    <div class="col-5" style="padding:2rem">
        <h3 class="text-center">Direkt İletişim Kaynakları</h3>

        <div class="mb-3">
            <label for="MyEmail" class="d-block">Mail Adresi</label>
            <div class="card">
                <a href="mailto:bedirhan.koksoy@rumeli.edu.tr" target="_blank" rel="noopener noreferrer" id="MyEmail">
                    <div class="card-body text-center">
                        bedirhan.koksoy@rumeli.edu.tr
                    </div>
                </a>
            </div>
        </div>

        <div class="mb-3">
            <label for="MyLinkedin" class="d-block">LinkedIn</label>
            <div class="card">
                <a href="https://www.linkedin.com/in/bedirhan-k%C3%B6ksoy-878b85194/" target="_blank" rel="noopener noreferrer" id="MyLinkedin">
                    <div class="card-body text-center">
                        https://www.linkedin.com/in/bedirhan-köksoy-878b85194/
                    </div>
                </a>
            </div>
        </div>

        <div class="mb-3">
            <label for="MyGitHub" class="d-block">GitHub</label>
            <div class="card">
                <a href="https://github.com/koksoybedirhan" target="_blank" rel="noopener noreferrer" id="MyGitHub">
                    <div class="card-body text-center">
                        https://github.com/koksoybedirhan
                    </div>
                </a>
            </div>
        </div>
    </div>


</div>

<script>
    // Form validation with Bootstrap classes
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByTagName('form');
            // Loop over them and prevent submission
            Array.prototype.forEach.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>

