<footer class="border-top footer text-muted">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-4 col-md-3 mt-3">
                <p style="text-align: center">İletişim: 
                    <a href="mailto:bedirhan.koksoy@rumeli.edu.tr" target="_blank" rel="noopener nofollow noreferrer">
                        <span>bedirhan.koksoy@rumeli.edu.tr</span>
                    </a>
                </p>
            </div>
            <div class="col-xl-4 col-md-3 mt-3">
                <p style="text-align: center">Copyright © 2024, All Right Reserved Bedirhan Köksoy</p>
            </div>
            <div class="col-xl-4 col-md-3 mt-3">
                <p style="text-align: center">
                    Linkedin Bağlantısı: <a href="https://www.linkedin.com/in/bedirhan-k%C3%B6ksoy-878b85194?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BSV483LqzTRCLpkznY67kqA%3D%3D" target="_blank" rel="noopener nofollow noreferrer">
                        <span>Bedirhan Köksoy</span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>